.main-container {
  display: flex;
  position: relative;
  margin-left: 260px;
  margin-top: 9rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.info-container {
  min-height: auto;
  max-width: 1300px;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 1rem 1rem 1rem;
  width: 100%;

}

.info-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid #2b3f87;

}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #2b3f87;
}

.info-box {
  width: auto;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 575px;
  padding: 20px;
  margin-bottom: 0;
}


.info-topic-heading {
  text-align: center;
  font-size: 18px;
  color: #2b3f87;
  border-bottom: 2px solid #2b3f87;
  padding-bottom: 1rem;
}

.info-parameter{
  Text-align: left;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #141619;
}

.info-topic-heading-check {
  font-size: 18px;
  color: #2b3f87;
  border-bottom: 2px solid #2b3f87;
  padding-bottom: 1rem;
  margin-right: 0;
}


.checker{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 30px;
  margin-right: 0;
}

.delete-button {
  width: 40px;
  height: 40px;
  color: #f5f5f5;
  background-color: #c6453b;
  border-radius: 1rem;
  border: 1px solid #141619;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.delete-button:hover{
  background-color: #2b3f87;
}

.info-parameter-recipient {
  Text-align: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #141619;
}

.info-box::-webkit-scrollbar {
  width: 20px;
}

.info-box::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 2px;
}

.info-box::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 12px;
}

.info-box::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}

.info-box {
  scrollbar-width: thin;
  scrollbar-color:  #2b3f87 #f5f5f5;
}
